In [47]:
import pandas as pd

In [48]:
physicians = pd.read_csv('../data/primary_care_physicians.csv')

In [49]:
physicians.head()

   FIPS    state   county  primary_care_physicians
0  1001  Alabama  Autauga                     26.0
1  1003  Alabama  Baldwin                    153.0
2  1005  Alabama  Barbour                      8.0
3  1007  Alabama     Bibb                     12.0
4  1009  Alabama   Blount                     12.0

In [50]:
physicians.loc[(physicians['state'] == 'Tennessee')]

       FIPS      state      county  primary_care_physicians
2432  47001  Tennessee    Anderson                     39.0
2433  47003  Tennessee     Bedford                     15.0
2434  47005  Tennessee      Benton                      3.0
2435  47007  Tennessee     Bledsoe                      1.0
2436  47009  Tennessee      Blount                     90.0
...     ...        ...         ...                      ...
2522  47181  Tennessee       Wayne                      5.0
2523  47183  Tennessee     Weakley                     18.0
2524  47185  Tennessee       White                      9.0
2525  47187  Tennessee  Williamson                    338.0
2526  47189  Tennessee      Wilson                     43.0

[95 rows x 4 columns]

In [51]:
physicians = physicians.loc[(physicians['state'] == 'Tennessee')]

In [52]:
physicians.shape

(95, 4)

In [53]:
physicians["primary_care_physicians"].value_counts()

2.0      8
5.0      7
9.0      5
0.0      4
12.0     4
4.0      4
18.0     4
1.0      4
3.0      4
21.0     3
6.0      3
15.0     3
19.0     2
14.0     2
26.0     2
23.0     2
38.0     2
8.0      2
39.0     2
22.0     2
55.0     1
806.0    1
13.0     1
91.0     1
520.0    1
27.0     1
53.0     1
11.0     1
137.0    1
82.0     1
199.0    1
52.0     1
90.0     1
403.0    1
16.0     1
40.0     1
37.0     1
7.0      1
30.0     1
226.0    1
338.0    1
10.0     1
43.0     1
129.0    1
665.0    1
17.0     1
Name: primary_care_physicians, dtype: int64

In [54]:
physicians['primary_care_physicians'].describe()

count     95.000000
mean      51.042105
std      129.311426
min        0.000000
25%        4.500000
50%       12.000000
75%       26.500000
max      806.000000
Name: primary_care_physicians, dtype: float64

In [55]:
population = pd.read_csv('../data/population_by_county.csv')

In [56]:
population.head()

    FIPS  population          county     state  urban
0  17051       21565  Fayette County  ILLINOIS  Rural
1  17107       29003    Logan County  ILLINOIS  Rural
2  17165       23994   Saline County  ILLINOIS  Rural
3  17097      701473     Lake County  ILLINOIS  Urban
4  17127       14219   Massac County  ILLINOIS  Rural

In [57]:
population['county'].str.rsplit(' ', n =1)

0        [Fayette, County]
1          [Logan, County]
2         [Saline, County]
3           [Lake, County]
4         [Massac, County]
               ...
3197    [Crockett, County]
3198        [Lake, County]
3199        [Knox, County]
3200      [Benton, County]
3201       [Clark, County]
Name: county, Length: 3202, dtype: object

or could do the following
population['county'].str.split(' County', expand = True)
population['county']=population['county'].str.split(' County', expand = True)[0]

In [58]:
population['county'].str.rsplit(' ', n =1, expand = True)

             0       1
0      Fayette  County
1        Logan  County
2       Saline  County
3         Lake  County
4       Massac  County
...        ...     ...
3197  Crockett  County
3198      Lake  County
3199      Knox  County
3200    Benton  County
3201     Clark  County

[3202 rows x 2 columns]

In [59]:
population['county'].str.rsplit(' ', n =1, expand = True)[0]

0        Fayette
1          Logan
2         Saline
3           Lake
4         Massac
          ...
3197    Crockett
3198        Lake
3199        Knox
3200      Benton
3201       Clark
Name: 0, Length: 3202, dtype: object

In [60]:
population['county'] = population['county'].str.rsplit(' ', n =1, expand = True)[0]

In [61]:
population.head()

    FIPS  population   county     state  urban
0  17051       21565  Fayette  ILLINOIS  Rural
1  17107       29003    Logan  ILLINOIS  Rural
2  17165       23994   Saline  ILLINOIS  Rural
3  17097      701473     Lake  ILLINOIS  Urban
4  17127       14219   Massac  ILLINOIS  Rural

In [62]:
population.loc[(population['county'] == 'Davidson')]

       FIPS  population    county           state  urban
410   47037      687488  Davidson       TENNESSEE  Urban
2069  37057      165381  Davidson  NORTH CAROLINA  Rural

In [63]:
population['state'].str.replace('TENNESSEE', 'Tennessee')

0         ILLINOIS
1         ILLINOIS
2         ILLINOIS
3         ILLINOIS
4         ILLINOIS
           ...
3197     Tennessee
3198     Tennessee
3199     Tennessee
3200    WASHINGTON
3201    WASHINGTON
Name: state, Length: 3202, dtype: object

In [64]:
population['state'] = population['state'].str.replace('TENNESSEE', 'Tennessee')

In [65]:
population.loc[(population['state'] == 'Tennessee')]

       FIPS  population     county      state  urban
283   47165      183437     Sumner  Tennessee  Urban
284   47169       10231  Trousdale  Tennessee  Urban
285   47027        7654       Clay  Tennessee  Rural
405   47157      936374     Shelby  Tennessee  Urban
406   47077       27977  Henderson  Tennessee  Rural
...     ...         ...        ...        ...    ...
3195  47123       46064     Monroe  Tennessee  Rural
3196  47079       32284      Henry  Tennessee  Rural
3197  47033       14399   Crockett  Tennessee  Rural
3198  47095        7401       Lake  Tennessee  Rural
3199  47093      461104       Knox  Tennessee  Urban

[95 rows x 5 columns]

In [66]:
population = population.loc[(population['state'] == 'Tennessee')]

In [67]:
population.head()

      FIPS  population     county      state  urban
283  47165      183437     Sumner  Tennessee  Urban
284  47169       10231  Trousdale  Tennessee  Urban
285  47027        7654       Clay  Tennessee  Rural
405  47157      936374     Shelby  Tennessee  Urban
406  47077       27977  Henderson  Tennessee  Rural

In [68]:
physicians = pd.merge(left = physicians, right = population)

In [69]:
physicians.head()

    FIPS      state    county  primary_care_physicians  population  urban
0  47001  Tennessee  Anderson                     39.0       76061  Urban
1  47003  Tennessee   Bedford                     15.0       48292  Rural
2  47005  Tennessee    Benton                      3.0       16140  Rural
3  47007  Tennessee   Bledsoe                      1.0       14836  Rural
4  47009  Tennessee    Blount                     90.0      129927  Urban

In [70]:
physicians.shape

(95, 6)

In [71]:
physicians['urban'].value_counts()

Rural    57
Urban    38
Name: urban, dtype: int64

In [72]:
physicians['population'] / physicians['primary_care_physicians']

0      1950.282051
1      3219.466667
2      5380.000000
3     14836.000000
4      1443.633333
          ...
90     3338.600000
91     1861.666667
92     2977.777778
93      666.831361
94     3178.279070
Length: 95, dtype: float64

In [73]:
physicians['population_per_PCP'] = physicians['population'] / physicians['primary_care_physicians']

created new column population_per_PCP
If column name already exists, it'll overwrite the data with the new one

In [74]:
physicians.head()

,FIPS,state,county,primary_care_physicians,population,urban,population_per_PCP
0,47001,Tennessee,Anderson,39.0,76061,Urban,1950.282051
1,47003,Tennessee,Bedford,15.0,48292,Rural,3219.466667
2,47005,Tennessee,Benton,3.0,16140,Rural,5380.000000
3,47007,Tennessee,Bledsoe,1.0,14836,Rural,14836.000000
4,47009,Tennessee,Blount,90.0,129927,Urban,1443.633333

In [75]:
physicians.loc[(physicians['population_per_PCP'] < 1500)]

,FIPS,state,county,primary_care_physicians,population,urban,population_per_PCP
4,47009,Tennessee,Blount,90.0,129927,Urban,1443.633333
12,47025,Tennessee,Claiborne,23.0,31732,Rural,1379.652174
15,47031,Tennessee,Coffee,37.0,55209,Rural,1492.135135
17,47035,Tennessee,Cumberland,40.0,59216,Rural,1480.400000
18,47037,Tennessee,Davidson,665.0,687488,Urban,1033.816541
32,47065,Tennessee,Hamilton,403.0,360919,Urban,895.580645
39,47079,Tennessee,Henry,22.0,32284,Rural,1467.454545
46,47093,Tennessee,Knox,520.0,461104,Urban,886.738462
56,47113,Tennessee,Madison,129.0,97625,Urban,756.782946
70,47141,Tennessee,Putnam,52.0,77447,Rural,1489.365385
78,47157,Tennessee,Shelby,806.0,936374,Urban,1161.754342
81,47163,Tennessee,Sullivan,199.0,157050,Urban,789.195980
89,47179,Tennessee,Washington,226.0,127805,Urban,565.508850
93,47187,Tennessee,Williamson,338.0,225389,Urban,666.831361

In [91]:
adequate = physicians.loc[(physicians['population_per_PCP'] < 1500)]

Above are counties with "adequate" supply of PCPs per SHADAC classification

In [92]:
adequate.shape

(14, 7)

In [93]:
adequate.head()

,FIPS,state,county,primary_care_physicians,population,urban,population_per_PCP
4,47009,Tennessee,Blount,90.0,129927,Urban,1443.633333
12,47025,Tennessee,Claiborne,23.0,31732,Rural,1379.652174
15,47031,Tennessee,Coffee,37.0,55209,Rural,1492.135135
17,47035,Tennessee,Cumberland,40.0,59216,Rural,1480.400000
18,47037,Tennessee,Davidson,665.0,687488,Urban,1033.816541

There are 14 counties with "adequate" supply of physicians

In [79]:
physicians.loc[(physicians['population_per_PCP'] >= 1500) & (physicians['population_per_PCP'] < 3500)]

,FIPS,state,county,primary_care_physicians,population,urban,population_per_PCP
0,47001,Tennessee,Anderson,39.0,76061,Urban,1950.282051
1,47003,Tennessee,Bedford,15.0,48292,Rural,3219.466667
5,47011,Tennessee,Bradley,55.0,105749,Urban,1922.709091
6,47013,Tennessee,Campbell,19.0,39797,Rural,2094.578947
8,47017,Tennessee,Carroll,12.0,27886,Rural,2323.833333
9,47019,Tennessee,Carter,22.0,56433,Urban,2565.136364
10,47021,Tennessee,Cheatham,23.0,40181,Urban,1747.000000
14,47029,Tennessee,Cocke,16.0,35552,Rural,2222.000000
19,47039,Tennessee,Decatur,4.0,11686,Rural,2921.500000
20,47041,Tennessee,DeKalb,9.0,19847,Rural,2205.222222
21,47043,Tennessee,Dickson,19.0,52680,Urban,2772.631579
22,47045,Tennessee,Dyer,14.0,37416,Rural,2672.571429
23,47047,Tennessee,Fayette,15.0,40164,Urban,2677.600000
24,47049,Tennessee,Fentress,10.0,18213,Rural,1821.300000
25,47051,Tennessee,Franklin,27.0,41725,Rural,1545.370370
26,47053,Tennessee,Gibson,21.0,49228,Rural,2344.190476
27,47055,Tennessee,Giles,11.0,29285,Rural,2662.272727
29,47059,Tennessee,Greene,39.0,68834,Rural,1764.974359
31,47063,Tennessee,Hamblen,38.0,64132,Urban,1687.684211
35,47071,Tennessee,Hardin,13.0,25715,Rural,1978.076923
44,47089,Tennessee,Jefferson,21.0,53679,Urban,2556.142857
45,47091,Tennessee,Johnson,6.0,17753,Rural,2958.833333
49,47099,Tennessee,Lawrence,18.0,43390,Rural,2410.555556
51,47103,Tennessee,Lincoln,18.0,33924,Rural,1884.666667
52,47105,Tennessee,Loudon,30.0,52340,Urban,1744.666667
53,47107,Tennessee,McMinn,26.0,53053,Rural,2040.500000
54,47109,Tennessee,McNairy,9.0,25844,Rural,2871.555556
57,47115,Tennessee,Marion,12.0,28538,Urban,2378.166667
59,47119,Tennessee,Maury,53.0,91976,Rural,1735.396226
60,47121,Tennessee,Meigs,6.0,12104,Rural,2017.333333
62,47125,Tennessee,Montgomery,82.0,200180,Urban,2441.219512
65,47131,Tennessee,Obion,14.0,30365,Rural,2168.928571
66,47133,Tennessee,Overton,12.0,22068,Rural,1839.000000
68,47137,Tennessee,Pickett,2.0,5079,Rural,2539.500000
69,47139,Tennessee,Polk,8.0,16814,Urban,2101.750000
71,47143,Tennessee,Rhea,12.0,32719,Rural,2726.583333
72,47145,Tennessee,Roane,18.0,53075,Rural,2948.611111
73,47147,Tennessee,Robertson,26.0,70280,Urban,2703.076923
74,47149,Tennessee,Rutherford,137.0,315815,Urban,2305.218978
75,47151,Tennessee,Scott,8.0,21969,Rural,2746.125000
76,47153,Tennessee,Sequatchie,5.0,14816,Urban,2963.200000
77,47155,Tennessee,Sevier,38.0,97068,Rural,2554.421053
79,47159,Tennessee,Smith,9.0,19740,Urban,2193.333333
82,47165,Tennessee,Sumner,91.0,183437,Urban,2015.791209
85,47171,Tennessee,Unicoi,6.0,17811,Urban,2968.500000
88,47177,Tennessee,Warren,21.0,40702,Rural,1938.190476
90,47181,Tennessee,Wayne,5.0,16693,Rural,3338.600000
91,47183,Tennessee,Weakley,18.0,33510,Rural,1861.666667
92,47185,Tennessee,White,9.0,26800,Rural,2977.777778
94,47189,Tennessee,Wilson,43.0,136666,Urban,3178.279070

In [80]:
moderately_inadequate = physicians.loc[(physicians['population_per_PCP'] >= 1500) & (physicians['population_per_PCP'] < 3500)]

In [81]:
moderately_inadequate.shape

(50, 7)

There are 50 counties with "moderately inadequate" supply of physicians

In [82]:
physicians.loc[(physicians['population_per_PCP'] >= 3500)]

,FIPS,state,county,primary_care_physicians,population,urban,population_per_PCP
2,47005,Tennessee,Benton,3.0,16140,Rural,5.380000e+03
3,47007,Tennessee,Bledsoe,1.0,14836,Rural,1.483600e+04
7,47015,Tennessee,Cannon,3.0,14178,Urban,4.726000e+03
11,47023,Tennessee,Chester,4.0,17190,Urban,4.297500e+03
13,47027,Tennessee,Clay,2.0,7654,Rural,3.827000e+03
16,47033,Tennessee,Crockett,0.0,14399,Rural,inf
28,47057,Tennessee,Grainger,5.0,23101,Urban,4.620200e+03
30,47061,Tennessee,Grundy,0.0,13344,Rural,inf
33,47067,Tennessee,Hancock,1.0,6587,Rural,6.587000e+03
34,47069,Tennessee,Hardeman,4.0,25443,Rural,6.360750e+03
36,47073,Tennessee,Hawkins,15.0,56611,Urban,3.774067e+03
37,47075,Tennessee,Haywood,5.0,17623,Rural,3.524600e+03
38,47077,Tennessee,Henderson,7.0,27977,Rural,3.996714e+03
40,47081,Tennessee,Hickman,5.0,24813,Urban,4.962600e+03
41,47083,Tennessee,Houston,2.0,8164,Rural,4.082000e+03
42,47085,Tennessee,Humphreys,5.0,18435,Rural,3.687000e+03
43,47087,Tennessee,Jackson,2.0,11682,Rural,5.841000e+03
47,47095,Tennessee,Lake,0.0,7401,Rural,inf
48,47097,Tennessee,Lauderdale,2.0,25989,Rural,1.299450e+04
50,47101,Tennessee,Lewis,2.0,12027,Rural,6.013500e+03
55,47111,Tennessee,Macon,4.0,23842,Urban,5.960500e+03
58,47117,Tennessee,Marshall,5.0,32965,Rural,6.593000e+03
61,47123,Tennessee,Monroe,9.0,46064,Rural,5.118222e+03
63,47127,Tennessee,Moore,1.0,6378,Rural,6.378000e+03
64,47129,Tennessee,Morgan,3.0,21545,Rural,7.181667e+03
67,47135,Tennessee,Perry,2.0,7962,Rural,3.981000e+03
80,47161,Tennessee,Stewart,1.0,13427,Urban,1.342700e+04
83,47167,Tennessee,Tipton,17.0,61447,Urban,3.614529e+03
84,47169,Tennessee,Trousdale,2.0,10231,Urban,5.115500e+03
86,47173,Tennessee,Union,3.0,19488,Urban,6.496000e+03
87,47175,Tennessee,Van Buren,0.0,5760,Rural,inf

In [83]:
low_inadequate = physicians.loc[(physicians['population_per_PCP'] >= 3500)]

In [84]:
low_inadequate.shape

(31, 7)

There are 30 counties with "low inadequate" supply of physicians

In [85]:
adequate['urban'].value_counts()

Urban    9
Rural    5
Name: urban, dtype: int64

In [86]:
moderately_inadequate['urban'].value_counts()

Rural    31
Urban    19
Name: urban, dtype: int64

In [87]:
low_inadequate['urban'].value_counts()

Rural    21
Urban    10
Name: urban, dtype: int64

There are more rural counties with moderate to low inadequate supply of PCPs compared to urban counties